<center>
    <h1 class="title">You want to know me?</h1>
  </center>  
  <h4 class="bear">This is going to be off the grid and with no context so bear with me.</h4>
  <p>Whenever someone is asked to describe themselves it's always like an old movie plot with Name,Profession & Location as variables init.
          And even if we know the story of a person, can we truely say that we know that person !!</p>
          <p>I believe you can never truely know a person, you can only observe them.</p>
          <p>I love to observe people around me. And I like to guess people's next move, in some situations this habbit of mine really helps me removing the barrier between me and that person, but sometimes it's just the <em>oppsite.</em></p>
          <p>In my earlier days I had this image of mine in my mind like an extroverted,outgoing person who has a lot of friends and a major <em>showoff</em>, but now when I think of myself I see a person in his dark room with a laptop on. AND BTW he's still a major<em>showoff.</em> </p>
          <p>For somedays am noticing that am neither an extrovert nor an introvert. it's like I ike I like being with friends but there's a threshold whenever that's broken am out.</p>
          <p>I always considered 'nerd' as a compliment though I never really got called as one, I mean don't you agree in every fucking movie where there's is actually a strong storyline there's a nerd playing the best role and we all love that character. He's smart,funny(at least to the audience),is not a total shithead like the main character and what more do you need. In my view nerds are way cooler than the main characters.Needless to say I consider myself a nerd. </p>
  
          <h2>Me in points--/</h2>
          <ul>
              <li>I am a Satanist.</li>
              <p>I legit worship the Demons. I've made a bargain with the Devil so he will make me rich and I'll serve him in my afterlife... <br><br>
              Kidding...Okay hear me a bit if we consider there's only one life then what's the big deal in living the best way possible. Considering you believe in God, can you say you're not going to hell/purgatory and if you can't then what's the problem in selling your soul if you're anyway going to be there atleast you'll have some power there. And this is all considering that we'll actually remember our life here on earth.<br>
              What if there's no memory after we die, then how'll you cosider the pain in <em>hell</em> as --/ "Pain" you'd have nothing in reference to compare it to. <br>
          In my theory we just have to get to the other end of our lives no matter how we make it but the journey must satisfy you, as long as it's all in your terms you don't need to care about anything else.</p>
          <img src="pixz/satanictemple.webp" alt="">
          <li>My favorite music genre is Metal (no specific song,no specific artist it all depends on the time)</li>
          <li><p>I am a ZYZZ fanboy.</p></li>
          </ul>