<div class="blog-heading"> 
    <h1 class="title">How to reach me?</h1>
    
  </div>
  <h2 id="here-are-my-contacts">Here are my contacts</h2>
  <ul>
  <li>Email: <strong>rajeshbehera489@gmail.com</strong></li>
  <li>IRC: <em>Atharv @libera.chat</em></li>
  <li>Telegram: <a href="https://t.me/atharv">@atharv</a></li>
  <li>Github: <a href="https://github.com/Rajesh01-star">@atharv</a></li>
  </ul>