
<% const galImages = [
"http://0x0.st/opZU.jpg",
"http://0x0.st/opN6.jpg",
"http://0x0.st/opqs.jpg",
"http://0x0.st/opZ2.jpg",
"http://0x0.st/H1zx.jpg",
"http://0x0.st/H1z3.jpg",
"http://0x0.st/H1zg.jpg",
]; %>

<center>
    <h1 class="title">Some good memories</h1>
  </center>  
<div class="imgContainer">
    <% for (let i = 0; i < galImages.length; i++) { %>
        <img class="image" data-index="<%= i %>" data-status="inactive" src="<%= galImages[i] %>" />
      <% } %>
</div>