<center>
    <h1 class="title">Hi, I am Atharv</h1>
  </center>  
  <p>I am Rajesh Kumar, aka Atharv. I am a 20 years old guy from India, who loves Computers and Software.
  I'll also be graduating in Computer Science and am a Linux Enthusiast.
  <i>But most importantly I am a man of culture</i>.</p>
  
  <img src="http://0x0.st/Hbxy.jpg" alt="avatar image">
  
  
  <h2>Website Guide</h2>
  <p>
    <ul>
      <li><a href="https://arvpanda-homepage.vercel.app/">JS Feed.</a></li>
      <li>If you find this website ugly - <a href="http://amishrakefight.org/gfy/">It's minimal</a>.</li>
      <li>This website was started on 25-Jun-2023.Yeah bitch Am In FUTURE.</li>
    </ul>
  </p>
  <br>
  
  <div>
    <h2>What's the deal here?</h2>
    <p>
      This place is a home for all my psychological dysfunctions.<br>
      A place where I am in control, with no censorship or manipulation.Well technically excluding Github but Mehh..<br>
      A place where my words don't get mixed up with noise.<br>
    </p>
  </div>
  <br>
  